
.fraunces {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
}


.ubuntu {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}